.navbar {
    background-color: #007afd;
    padding: 0;
}

#nav {
    padding-left: 8vw;
}

#navbarSupportedContent {
    padding-left: 35vw;
}

li {
    margin-left: 2vw;
}

h2 {
    text-align: center;
    font-size: 20px;
    color: #0046a1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px;
}

#a {
    padding-top: 15vh;
}

#editar {
    border: black 1px solid;
    border-radius: 8px;
    /*  padding: 15%; */
    margin-right: 5%;
    /* margin-left: 10%; */
    width: 20%;
    height: 50vh;
}

#consutar {
    border: black 1px solid;
    border-radius: 8px;
    /*  padding: 15%; */
    /* margin-right: 10%; */
    margin-left: 5%;
    width: 20%;
    height: 50vh;
}

footer {
    text-align: center;
    background-color: #0046a1;
    padding: 6px;
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0vh;
}

@media (max-width: 900px) {
    #a {
        display: flex;
        flex-direction: column;
        align-items: center
    }
    #editar {
        margin: 0%;
        /* margin-left: 10%; */
        width: 50%;
        height: 50vh;
    }
    #consutar {
        margin: 0%;
        width: 50%;
        height: 50vh;
    }
    #nav {
        padding-left: 2vw;
    }
    #navbarSupportedContent {
        padding-left: 2vw;
    }
    footer {
        bottom: auto;
    }
}