.navbar {
    background-color: #007afd;
    padding: 0;
}

#nav {
    padding-left: 8vw;
}

#navbarSupportedContent {
    padding-left: 35vw;
}

li {
    margin-left: 2vw;
}
h1{
    text-align: center;
    font-size: 25px;
}
#efetivo{

    border: black 1px solid;
    border-radius: 8px;
}

#estagio{

    border: black 1px solid;
    border-radius: 8px;
}
#aprendiz{

    border: black 1px solid;
    border-radius: 8px;
}

footer {
    text-align: center;
    background-color: #0046a1;
    padding: 6px;
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0vh;
}