/* body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.loading{

    width: 200px;
    height: 60px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.circulo{

    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    background-color: black;
    left: 15%;
    transform-origin: 50%;
    animation: circulo .5s alternate infinite ease;
}

@keyframes circulo{
    0%{
        top:60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40%{
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);

    }

    100%{
        top: 0;
    }
}

.circulo:nth-child(2){

    left: 45%;
    animation-delay: .2s;
}

.circulo:nth-child(2){

    left: 45%;
    animation-delay: .2s;
}

.circulo:nth-child(3){

    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.shadow{
    width: 20px;
    height: 50%;
    border-radius: 50%;
    background-color: aquamarine;
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: 15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

@keyframes shadow{
    0%{
        transform: scaleX(1.5);
    }

    40%{

        transform: scaleX(1);
        opacity: .7;
    }
    100%{
        transform: scaleX(.2);
        opacity: .4;
    }
}
.shadow:nth-child(4){

    left: 45%;
    animation-delay: .2s;
}

.shadow:nth-child(2){

    left: 45%;
    animation-delay: .2s;
}

.shadow:nth-child(5){

    left: auto;
    right: 15%;
    animation-delay: .3s;
}
.loading span{
    position: absolute;
    top: 75px;
    font-family: 'Lato';
}
 */
.navbar {
    background-color: rgb(0, 122, 253);
    padding: 0;
}

#nav {
    padding-left: 7vw;
}

#navbarSupportedContent {
    padding-left: 35vw;
}

li {
    margin-left: 2vw;
}

#lcadiado {
    margin-left: 4vw;
}


/* li:hover {
    background-color: aqua;
} */

#banner {
    background-size: cover;
}

#titulo {
    position: absolute;
    top: 500px;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Staatliches', cursive;
}

#sobrenos {
    background-color: #0571ff;
    padding-bottom: 60px;
    padding-top: 60px;
    height: 90%;
    /* margin-left: 5%; */
}

#txtnos {
    font-size: 1em;
    font-family: 'Anton', sans-serif;
    color: aliceblue;
    margin-left: 7%;
}


/* #divvideo{
margin-left: 10%;
padding: 0%;
width: 80%;
height: 100%;
} */

#video {
    width: 80%;
    height: 250px;
    border: 10px;
}

#pnos {
    color: aliceblue;
    width: 100%;
    height: 50%;
    padding-right: 20px;
}

#divtv {
    padding: 0%;
    width: 88%;
}

#mvv {
    padding: 70px;
    color: rgb(5, 113, 255);
}

#Imissao {
    padding: 5%;
    padding-top: 5px;
}

#Ivisao {
    padding: 5%;
    padding-top: 5px;
}

#Ivalores {
    padding: 5%;
    padding-top: 5px;
}

#linkM {
    color: rgb(255, 255, 255);
}

#acordian {
    padding: 10%;
}

#accordion1 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#a1 {
    margin-left: 0%;
    border: 0;
}

#a2 {
    margin-left: 30%;
    margin-right: 30%;
    border: 0;
}

#a3 {
    margin-left: 0%;
    border: 0;
}

#txtA {
    color: #0571ff;
    text-align: center;
}

footer {
    text-align: center;
    background-color: #0046a1;
    padding: 6px;
    color: #fff;
}

@media (max-width: 650px) {
    #divtv {
        flex-direction: column;
    }
    #mvv {
        flex-direction: column;
        padding: 10%;
    }
    #video {
        width: 100%;
        height: 100%;
    }
    .accordion {
        padding: 10%;
        flex-direction: column;
    }
    #a2 {
        margin: 0;
    }
    #txtA {
        color: #0571ff;
    }
    footer {
        padding: 2px;
    }
    #nav {
        padding-left: 2vw;
    }
    #navbarSupportedContent {
        padding-left: 2vw;
    }
    li {
        margin-left: 0vw;
    }
}